body, html, h1, h2, p, div, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    border-bottom: none;
    background-color: white;
    position: relative;
}

.logo img {
    height: 70px;
    margin-bottom: 50px;
}


.nav {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    justify-content: center;
}

.nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}
.nav a.active {
    color: #3E71FE;
}
.nav::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
}
.auth-links {
    position: absolute;
    top: 70px;
    right: 50px;
    display: flex;
    gap: 15px;
    font-size: 14px;
}

.auth-links a {
    text-decoration: none;
    color: black;
}

.content {
    flex: 1;
}


.footer {
    background-color: #ECECEC;
    padding: 40px 0;
    border-top: 1px solid #ddd;
    font-size: 14px;
    color: #555555;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    width: 250px;
    height: auto;
    margin-right: 20px;
}

.footer-info, .footer-contact {
    font-size: 14px;
    line-height: 1.8;
    text-align: left;
}
.footer-info p, .footer-contact p {
    margin: 4px 0;
}

.footer-info strong, .footer-contact strong {
    font-weight: bold;
    color: #000;
}

/**************************************************************/
/****************** 아래 추가 css 작성  ***********************/
/**************************************************************/